@import"partials/reset";
@import"partials/scriptClasses";
@import"partials/content";
@import"partials/header";
@import"partials/container";
@import"partials/whoishe";
@import"partials/news";
@import"partials/mediaqueries";
