.content {
  margin-bottom: 400px;
  border: 1px solid pink;
  article {
    font-family: sans-serif;
    font-size: 1.5rem;
    // padding: 100px 0;
    max-width: 1060px;
    margin: 100px auto;
    text-align: justify;
    border: 1px solid pink;
    background-image: url('../images/about.png');
    background-position: center center;
    background-size: cover;
    .about-text {
      z-index: 3;
    }
  }
}
