#about {
  width: 100%;
  height: 100vh;
  background-image: url("../images/about.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; //optional
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: scroll;
  .about-text {
    color: white;
    // padding: 100px 0;
    // max-width: 1060px;
    margin: 0 auto;
    text-align: justify;
    border: none;
    background: none;
    transition: 0.5s;
    &:hover {
      background: rgba(black, 0.7);
    }
    h3 {
      font-size: 3rem;
      font-family: "NTR";
    }
    p {
      font-family: "NTR";
      font-size: 1.3rem;
      line-height: 1.6rem;
    }
  }
}
