#gallery {
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  position: relative;
  .main-width {
    margin: 0 auto;
    color: white;
    padding: 15px;
    span {
      display: block;
      padding-top: 20px;
      font-size: 3rem;
      font-family: "NTR";
    }
    p {
      font-family: "NTR";
      font-size: 1.2rem;
      line-height: 1.6rem;
      padding-bottom: 10px;
      // overflow: scroll;
      // border: 1px solid red;
    }
    .scroll-gallery {
      overflow: scroll;
      max-height: 60vh;
      img {
        display: block;
        margin: auto;
      }
    }
    .scroll-gallery::-webkit-scrollbar {
      width: 10px;
      &:horizontal {
        display: none;
      }
    }
    .scroll-gallery::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: 20px;
    }
    .scroll-gallery::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: 20px;
    }
  }
}
