header {
  overflow: hidden;
    background-color: black;
  .bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/stevie-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed; //optional
  background-size: cover;
  animation-name: bg-scale;
  animation-duration: 2.5s;
  }
}

@keyframes bg-scale {
    0%   {  -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.3;}
    100% {  -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  opacity: 1;}
}
