#news {
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // border: 1px solid red;
  .news-content {
    margin: 0 auto;

    .news-text {
      height: 80%;
      color: white;
      span {
        font-size: 3rem;
        font-family: "NTR";
      }
      p {
        font-family: "NTR";
        font-size: 1.5rem;
        line-height: 1.6rem;
      }
    }
  }

}
