#who-is-he {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; //!!!!!!!!!!!!!!
  .who-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .who-text {
      width: 62%;
      max-height: 80%;
      color: white;
      span {
        font-size: 3rem;
        font-family: "NTR";
      }
      p {
        font-family: "NTR";
        font-size: 1rem;
        line-height: 1.6rem;
        overflow: scroll;
      }
    }
    .fixed-slider {
      width: 245px;
      height:600px;
      background-image: url("../images/collage-min.png");
      background-size: 240px;
      // background-position: bottom;
      background-attachment: fixed;
      // background-repeat: repeat-y;
    }
  }

}
