#who-is-he {
  width: 100%;
  height: 100vh;
  background-color: #1b1b1b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; //!!!!!!!!!!!!!!

  .who-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .who-text {
      padding: 10px;
      width: 68%;
      max-height: 80vh;
      color: white;
      overflow: scroll;
      span {
        font-size: 3rem;
        font-family: "NTR";
      }
      p {
        font-family: "NTR";
        font-size: 1.2rem;
        line-height: 1.6rem;
        // overflow: scroll;
        // border: 1px solid red;
      }
      // p::-webkit-scrollbar {
      //   width: 10px;
      //   &:horizontal {
      //     display: none;
      //   }
      // }
      // p::-webkit-scrollbar-thumb {
      //   background: #666;
      //   border-radius: 20px;
      // }
      // p::-webkit-scrollbar-track {
      //   background: #ddd;
      //   border-radius: 20px;
      // }
    }
    .who-text::-webkit-scrollbar {
      width: 10px;
      &:horizontal {
        display: none;
      }
    }
    .who-text::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: 20px;
    }
    .who-text::-webkit-scrollbar-track {
      background: #ddd;
      border-radius: 20px;
    }
    .fixed-slider {
      width: 245px;
      height:600px;
      background-image: url("../images/collage-min.png");
      background-size: 240px;
      // background-position: bottom;
      background-attachment: fixed;
      // background-repeat: repeat-y;
    }
  }

}
